<mat-form-field>
  <input
    matInput
    placeholder="Search"
    type="text"
    minlength="3"
    [formControl]="searchField"
    [matAutocomplete]="auto"
  />
  <mat-hint align="start" *ngIf="lastUserSearches.length > 0"
    >You searched previously for: {{ lastUserSearches }}</mat-hint
  >
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let result of searchResults$ | async"
      [value]="searchField.value"
      dbFavorite
      [isFavorite]="result.isFavorite"
      (onSelectionChange)="onSearchResultSelected(result)"
    >
      <mat-icon *ngIf="result.imageUrl === ''; else image">{{
        result.searchResultType | searchResultTypeToIcon
      }}</mat-icon>
      <ng-template #image>
        <img src="{{ result.imageUrl }}" />
      </ng-template>
      {{ result.title }} <em>{{ result.additionalInformation }}</em>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
