<div class="media">
  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <span>Media</span>
      <span class="spacer"></span>
      <db-search *ngIf="isFullscreen" searchScope="media"></db-search>
      <button mat-button (click)="onToggleFullscreen()">
        <mat-icon *ngIf="isFullscreen">fullscreen_exit</mat-icon>
        <mat-icon *ngIf="!isFullscreen">fullscreen</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="media-main">
    <db-media-selection
      (selectedTrack$$)="onSelectedTrackChanged($event)"
    ></db-media-selection>
  </div>
  <db-fake-player-host></db-fake-player-host>
</div>
