<div class="media">
  <mat-toolbar class="media-header">
    <mat-toolbar-row>
      <span>Media</span>
      <span class="spacer"></span>
      <db-search *ngIf="isFullscreen"></db-search>
      <button mat-button (click)="onToggleFullscreen()">
        <mat-icon *ngIf="isFullscreen">fullscreen_exit</mat-icon>
        <mat-icon *ngIf="!isFullscreen">fullscreen</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="media-main">
    <mat-selection-list
      dense
      (selectionChange)="onSelectedArtistChanged($event.option)"
    >
      <mat-list-option
        *ngFor="let artist of artists$ | async"
        [value]="artist"
        (dblclick)="toggleFavoriteArtist(artist)"
        dbFavorite
        [isFavorite]="artist.isFavorite"
      >
        <div class="favorite-div">
          <db-artist [artist]="artist"></db-artist>
          <mat-icon [innerHTML]="artist.isFavorite | favoriteIcon"></mat-icon>
        </div>
      </mat-list-option>
    </mat-selection-list>

    <mat-selection-list
      dense
      (selectionChange)="onSelectedAlbumChanged($event.option)"
    >
      <mat-list-option
        *ngFor="let album of albums$ | async"
        [value]="album"
        (dblclick)="toggleFavoriteAlbum(album)"
        dbFavorite
        [isFavorite]="album.isFavorite"
      >
        <div class="favorite-div">
          <db-album [album]="album"></db-album>
          <mat-icon [innerHTML]="album.isFavorite | favoriteIcon"></mat-icon>
        </div>
      </mat-list-option>
    </mat-selection-list>

    <mat-selection-list
      dense
      (selectionChange)="onSelectedTrackChanged($event.option)"
    >
      <mat-list-option
        *ngFor="let track of tracks$ | async"
        [value]="track"
        (dblclick)="toggleFavoriteTrack(track)"
        dbFavorite
        [isFavorite]="track.isFavorite"
      >
        <div class="favorite-div">
          <db-track [track]="track"></db-track>
          <mat-icon [innerHTML]="track.isFavorite | favoriteIcon"></mat-icon>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </div>
  <db-fake-player [track]="currentTrack"></db-fake-player>
</div>
