<div class="fake-player" *ngIf="track && track.title && track.duration">
  <img [src]="cover" [alt]="cover" />
  <div class="fake-player-wrapper">
    <b>{{ track.title }}</b>
    <br />

    <div class="fake-player-controls">
      <mat-icon>skip_previous</mat-icon>
      <mat-icon (click)="onPlayPauseClick()">{{ playPauseIcon }}</mat-icon>
      <mat-icon>skip_next</mat-icon>
      <div>{{ track.duration * 0.4 | secondsToMinutes }}</div>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <div>{{ track.duration | secondsToMinutes }}</div>
      <mat-icon (click)="onVolumeClick()">{{ volumeIcon }}</mat-icon>
    </div>
  </div>
</div>
