.fake-player-wrapper {
  padding: 5px;
}

.fake-player {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-progress-bar {
  margin-right: 5px;
  margin-left: 5px;
}
