<div class="selection-container">
  <mat-selection-list
    dense
    dbLock
    (selectionChange)="onSelectedArtistChanged($event.option)"
  >
    <mat-list-option
      *ngFor="let artist of artists"
      [value]="artist"
      dbLongPress
      (longPress)="onLongPress(artist)"
      dbFavorite
      [isFavorite]="artist.isFavorite"
    >
      <div class="favorite-div">
        <div>{{ artist.name }}</div>
        <mat-icon [innerHTML]="artist.isFavorite | favoriteIcon"></mat-icon>
      </div>
    </mat-list-option>
  </mat-selection-list>

  <mat-selection-list
    dense
    dbLock
    (selectionChange)="onSelectedAlbumChanged($event.option)"
  >
    <mat-list-option
      *ngFor="let album of albums"
      [value]="album"
      dbLongPress
      (longPress)="onLongPress(album)"
      dbFavorite
      [isFavorite]="album.isFavorite"
    >
      <div class="favorite-div">
        <div>{{ album.name }}</div>
        <mat-icon [innerHTML]="album.isFavorite | favoriteIcon"></mat-icon>
      </div>
    </mat-list-option>
  </mat-selection-list>

  <mat-selection-list
    dense
    dbLock
    (selectionChange)="onSelectedTrackChanged($event.option)"
  >
    <mat-list-option
      *ngFor="let track of tracks"
      [value]="track"
      dbLongPress
      (longPress)="onLongPress(track)"
      dbFavorite
      [isFavorite]="track.isFavorite"
    >
      <div class="favorite-div">
        <div>{{ track.title }}</div>
        <mat-icon [innerHTML]="track.isFavorite | favoriteIcon"></mat-icon>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
