.selection-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.favorite-div {
  display: flex;
}

mat-selection-list {
  overflow: auto;
}

::ng-deep .mat-list-option .mat-pseudo-checkbox {
  display: none;
}

mat-icon {
  user-select: none;
}
