<div class="dashboard">
  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <span>Dashboard</span>
      <mat-label class="pipe">|</mat-label>
      <mat-slide-toggle
        dbLock
        [checked]="isDarkTheme$ | async"
        (change)="toggleDarkTheme($event.checked)"
        >Dark theme
      </mat-slide-toggle>
      <mat-label class="pipe">|</mat-label>
      <mat-slide-toggle
        [checked]="isLockActive"
        (change)="toggleLock($event.checked)"
        >Enable Lock</mat-slide-toggle
      >
      <span class="spacer"></span>
      <db-search></db-search>
    </mat-toolbar-row>
  </mat-toolbar>

  <div id="dashboardMain" class="dashboard-main">
    <db-media class="dashboard-app"></db-media>
    <db-news class="dashboard-app"></db-news>
    <db-weather class="dashboard-app weather"></db-weather>
    <db-map class="dashboard-app"></db-map>
    <db-sidebar-host class="sidebar"></db-sidebar-host>
  </div>
</div>
